.board-container {
    display: flex;
}

.board {
    margin-right: 20px;
}

.rows {
    display: grid;
    grid-template-columns: repeat(8, 80px);
}

.light-square {
    background-color: #D8CEC1;
    display: flex;
    height: 80px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.dark-square {
    background-color: #9D4E17;
    display: flex;
    height: 80px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.light-letters {
    color: #D8CEC1;
    position: absolute;
    bottom: 0;
    left: 4px;
}

.dark-letters {
    color: #9D4E17;
    position: absolute;
    bottom: 0;
    left: 4px;
}

.light-numbers {
    color: #D8CEC1;
    position: absolute;
    top: 0;
    right: 4px;
}

.dark-numbers {
    color: #9D4E17;
    position: absolute;
    top: 0;
    right: 4px;
}

.pieces {
    position: absolute;
    width: 76px;
    height: 76px;
    padding: 2px;
    cursor: pointer;
}

.selected-piece {
    background-color: rgba(26, 100, 37, 0.5);
}

.movable-square {
    background-color: rgba(186, 255, 170, 0.5);
    cursor: pointer;
}

.in-check {
    background-color: rgba(245, 27, 27, 0.7);
}

.giving-check {
    background-color: light;
}

.piece-promotion-text {
    color: rgb(251, 251, 79);
    margin-bottom: 10px;
}

.promotion-buttons {
    margin-right: 11px;
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;
}

.early-res-buttons {
    position: absolute;
    top: 55%;
    left: 5px;
    display: flex;
}

.resign-button {
    margin-right: 12px;
    background-color: black;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 3px;
}

.draw-button {
    width: 90px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.extras {
    position: relative;
    margin-left: 15px;
}

.display-result {
    position: absolute;
    color: rgb(243, 236, 236);
    top: 35%;
    left: -10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.draw {
    display: flex;
    flex-direction: row;
    margin-left: -17px;
}

.accept-button {
    background-color: rgb(47, 154, 189);
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 15px;
    display: none;
}

.decline-button {
    background-color: rgb(47, 154, 189);
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 15px;
    display: none;
}

.result {
    margin-left: -18px;
}

.who-wins {
    margin-left: -15px;
}

.flip-button {
    position: absolute;
    width: 85px;
    top: 65%;
    margin-left: 42px;
    padding: 6px 10px;
    background-color: lightblue;
    border: none;
    cursor: pointer;
}

.random-button {
    margin-top: 30px;
    cursor: pointer;
}